
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Kütüphane</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/hipster-as-f-cards" />

    <!-- Stylesheet      -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/hipster_cards.css" rel="stylesheet" />
    <link href="/Content/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="/Content/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>
</head>
<body>


    <div class="wrapper">
        <!--   Grup 5 Logo  -->

        <div class="logo-container">
            <div class="logo">
                <img src="~/images/new_logo.png" />
            </div>
            <div class="brand">
                Grup 5
            </div>
        </div>


        <div class="container">
            <div class="page-description page-description-header">
                <div class="hipster-container">
                    <h1>Kütüphane</h1>
                </div>
                <div>
                    <a href="/Uyeler/GirisYap/" class="btn btn-dark">Giriş yap </a>
                </div>
            </div>

            <div class="masonry-container">
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border card-just-text" data-background="color" data-color="black">
                        <div class="content">
                            <h4 class="title">"İyi kitaplar <b>okumak</b>, geçmiş yüzyılların en iyi insanlarıyla sohbet etmek gibidir"</h4>
                            <p class="description">- Descartes</p>
                        </div>
                    </div> <!-- end card -->
                </div>



                <div class="card-box col-md-4 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <img src="/images/bunlaribiliyormusun1.jpg" />
                            <div class="filter"></div>

                            <div class="actions">

                            </div>
                        </div>

                        <div class="content">
                            <h6 class="category">Bunları biliyor musunuz?</h6>
                            <h4 class="title"><a href="#">Dünya Üzerindeki En Bilinen Kitap Hırsızı 23.000 Kitap Çalmıştır </a></h4>
                            <p class="description">
                                Stephen Blumberg adındaki bu adam hayatı boyunca 268 kütüphaneden toplamda 23.000 kadar kitap çalmayı başarmış. Çaldığı kitaplar da sıradan çinko karbon kitaplar değil tabii ki. İçinde nadir kitaplar da mevcut. Bu nedenle koleksiyonun değeri 20 milyon dolar civarındaymış.
                                Ayrıca kitap çalma hastalığına bibliokleptomaniac deniyor.
                            </p>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card" data-background="image" data-src="/images/uc_enuzuncumle.jpg">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Bilgi</h6>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title title-uppercase">
                                Dünyanın en uzun cümlesi Victor Hugo'nun Sefiller kitabındadır.
                            </h4>
                            <p class="description">Şimdiye kadar basılmış en uzun cümle Victor Hugo'nun Sefiller (Les Misérables) kitabındadır ve tam olarak 823 kelimeden oluşmaktadır.</p>
                        </div>
                        <div class="filter">
                        </div>
                    </div>
                </div>


                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-just-text card-with-border" data-background="image" data-src="/images/4.jpg">
                        <div class="content">
                            <div class="filter filter-red"></div>
                            <h4 class="title title-modern">"İçinde iyi yanı bulunmayacak kadar kötü kitap yoktur"</h4>
                            <p class="description">- Goethe</p>
                        </div>

                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>



                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border" data-background="image" data-src="/images/5.jpg">
                        <div class="header">
                        </div>

                        <div class="content text-center">
                            <p class="description">Kitapsız yaşamak, kör, sağır, dilsiz yaşamaktır.</p>
                        </div>
                        <div class="footer text-center">
                            -Mustafa Kemal Atatürk
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>



                <div class="card-box col-md-4 col-sm-6">
                    <div class="card" data-background="color" data-color="black">
                        <div class="header">
                            <img src="/images/6.jpg" />

                            <div class="social-line" data-buttons="2">
                                <button class="btn btn-social">
                                    <i class="fa fa-facebook-square"></i> Share
                                </button>
                                <button class="btn btn-social">
                                    <i class="fa fa-twitter"></i> Tweet
                                </button>
                            </div>
                        </div>

                        <div class="content">

                            <h4 class="title">Dünya üzerinde her yıl basılan 1.2 milyon kitaptan yalnızca %2’si 500.000’den fazla baskı yapabilir.</h4>
                            <p class="description">Bu da pek çok kitabın basıldıktan sonra tekrar baskı yapamaması demek. Gördüğümüz kitapların dışında görmediğimiz kitap sayısını bir düşünsenize...</p>
                        </div>
                    </div> <!-- end card -->
                </div>




                <div class="card-box col-md-4 col-sm-6">
                    <div class="card">
                        <div class="content">

                            <h4 class="title">Dünya üstündeki ilk basılı gazete milattan sonra 700 yılında basılmıştır.</h4>
                            <p class="description">Tabii ki gazete de matbaada olduğu gibi Çin'den çıkmıştır. Pekin'den çıkan ilk gazete günümüze erişememiştir.</p>
                        </div>
                    </div> <!-- end card -->
                </div>





                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-just-text card-with-border" data-background="image" data-src="/images/7.jpg">
                        <div class="content">
                            <h4 class="title title-modern">
                                "Üzerimize bir felaket gibi çöken kitaplar gerek.
                                Bir kitap, içinizdeki donmuş değerleri parçalayacak bir balta olmalıdır. İnsanı ısıran ve sokan kitaplar okumalıyız"
                            </h4>
                            <p class="description">- Franz Kafka</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>


                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border" data-background="color" data-color="azure">
                        <div class="header">
                            <div class="icon">
                                <i class="pe-7s-bookmarks"></i>
                            </div>
                        </div>
                        <div class="content text-center">
                            <h4 class="title title-modern">Emile Zola:</h4>
                            <p class="description">
                                "İnsanlar bir yığın acayip şeyler söylüyorlar. Bazen, koyunlarla birlikte yaşamak çok daha iyi,konuşmaz koyunlar, yiyecek ve
                                su aramaktan başka birşey yapmazlar. Ya da kitaplar, dinlemek isterseniz size ilginç öyküler anlatır kitaplar. Ama insanlarla konuşurken durum başka,
                                öylesine tuhaf şeyler söylerler ki, konuşmayı nasıl sürdüreceğinizi bilmezsiniz.".
                            </p>
                        </div>
                    </div> <!-- end card -->
                </div>





                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border" data-background="color" data-color="orange">
                        <div class="content">

                            <h4 class="title">
                                <a href="#"> Roman yazmak ortalama olarak 475 saat alır.</a>
                            </h4>
                            <p class="description">Tabii ki Gabriel Garcia Marquez gibi 15 yıl kitabı düşündükten sonra 2 yıldan kısa bir sürede yazmaktan bahsetmiyoruz ancak ortalama bir romanı bitirmek için gerekli sürenin 475 saat olduğu belirlenmiş.</p>
                        </div>
                    </div> <!-- end card -->
                </div>



                <div class="card-box col-md-4 col-sm-6">
                    <div class="card text-center" data-background="image" data-src="/images/city-2.png">
                        <h4 class="title title-modern">Kesilen Ağaçlar</h4>

                        <div class="content">
                            <div class="price">

                                <h4>1 Ton Kağıt için 17 ağaç<b class="currency"></b></h4>
                            </div>
                            <p class="description">1 Ton kağıt için 17 adet ağaç kesiliyor. Ortalama bir kitabın ağırlığını 300gr olarak hesaplarsak bir kitap için 0,0051 ağaç 64.305.208 kitap için 343.256 tane ağacı kesmek zorunda kalıyoruz.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div> <!-- wrapper -->
    <div>
        @RenderBody()
    </div>

    <script src="/Scripts/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Scripts/hipster-cards.js"></script>


    <!--  demo	 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
    <script src="/Scripts/demo.js"></script>
    <script>
        $().ready(function () {
            var $container = $('.masonry-container');
            doc_width = $(document).width();
            if (doc_width > 768) {
                $container.masonry({
                    itemSelector: '.card-box',
                    columnWidth: '.card-box',
                    transitionDuration: 0
                });
            } else {
                $('.mas-container').removeClass('mas-container').addClass('row');
            }
        });
    </script>
</body>
</html>