USE [kutuptua_kutuptu]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2.06.2021 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hareket]    Script Date: 2.06.2021 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hareket](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[ALISTARİH] [datetime] NOT NULL,
	[İADETARİH] [datetime] NOT NULL,
	[KitapID] [int] NOT NULL,
	[UyeID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Hareket] PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 2.06.2021 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitap]    Script Date: 2.06.2021 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitap](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](50) NOT NULL,
	[BASIMYILI] [int] NOT NULL,
	[ISBN] [int] NOT NULL,
	[YAYINEVİ] [nvarchar](50) NOT NULL,
	[SAYFA] [int] NOT NULL,
	[OZET] [nvarchar](500) NOT NULL,
	[KategoriID] [tinyint] NOT NULL,
	[YazarID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Kitap] PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 2.06.2021 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](15) NOT NULL,
	[SOYAD] [nvarchar](15) NOT NULL,
	[MAİL] [nvarchar](max) NOT NULL,
	[KULLANICIADI] [nvarchar](20) NOT NULL,
	[SİFRE] [nvarchar](10) NOT NULL,
	[TELEFON] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Uyeler] PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazar]    Script Date: 2.06.2021 21:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazar](
	[YazarID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Yazar] PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hareket] ON 

INSERT [dbo].[Hareket] ([HareketID], [ALISTARİH], [İADETARİH], [KitapID], [UyeID]) VALUES (10, CAST(N'2021-05-28T14:51:54.000' AS DateTime), CAST(N'2021-06-04T14:51:54.000' AS DateTime), 79, 1)
INSERT [dbo].[Hareket] ([HareketID], [ALISTARİH], [İADETARİH], [KitapID], [UyeID]) VALUES (11, CAST(N'2021-05-28T14:52:30.000' AS DateTime), CAST(N'2021-06-04T14:52:30.000' AS DateTime), 57, 1)
INSERT [dbo].[Hareket] ([HareketID], [ALISTARİH], [İADETARİH], [KitapID], [UyeID]) VALUES (12, CAST(N'2021-05-28T14:53:17.000' AS DateTime), CAST(N'2021-06-04T14:53:17.000' AS DateTime), 78, 3)
SET IDENTITY_INSERT [dbo].[Hareket] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriID], [AD]) VALUES (1, N'Roman')
INSERT [dbo].[Kategori] ([KategoriID], [AD]) VALUES (2, N'Deneme')
INSERT [dbo].[Kategori] ([KategoriID], [AD]) VALUES (3, N'Dedektif')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitap] ON 

INSERT [dbo].[Kitap] ([KitapID], [AD], [BASIMYILI], [ISBN], [YAYINEVİ], [SAYFA], [OZET], [KategoriID], [YazarID]) VALUES (1, N'Hayvan Çiftliği', 1998, 4567, N'Güneş', 200, N'   Hayvan Çiftliği, George Orwell''in mecazi bir dille yazılmış, fabl tarzındaki siyasi hiciv romanı.
                                Roman ilk olarak 1945''te Birleşik Krallık''ta yayımlandı.
                                1996''da ise geçmiş tarihler için verilen Retro Hugo Ödülü''nü 1946 senesi için aldı.', 1, 1)
INSERT [dbo].[Kitap] ([KitapID], [AD], [BASIMYILI], [ISBN], [YAYINEVİ], [SAYFA], [OZET], [KategoriID], [YazarID]) VALUES (3, N'Şeker Portakalı', 2000, 1468, N'Ay', 245, N' Şeker Portakalı, Brezilyalı yazar José Mauro De Vasconcelos''un 1968 tarihli romanı.
                                Brezilya''nın Minas Gerais bölgesinde yaşayan fakir bir ailenin beş yaşındaki oğlu olan hayal gücü çok gelişmiş Zeze adlı çocuğun başından geçenleri konu edinir.', 1, 2)
INSERT [dbo].[Kitap] ([KitapID], [AD], [BASIMYILI], [ISBN], [YAYINEVİ], [SAYFA], [OZET], [KategoriID], [YazarID]) VALUES (10, N'Suç ve Ceza', 2001, 1354, N'Güneş', 300, N' Suç ve Ceza, Rus yazar Fyodor Dostoyevski tarafından yazılan romandır.
                                İlk olarak 1866 yılı boyunca edebiyat dergisi Rus Habercisi''nde on iki ayda yayımlandı.
                                Daha sonra tek cilt olarak yayımlandı. Dostoyevski''nin beş yıl süren Sibirya sürgününün dönüşü yazdığı tam uzunluktaki ikinci romanıdır.', 1, 3)
SET IDENTITY_INSERT [dbo].[Kitap] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([UyeID], [AD], [SOYAD], [MAİL], [KULLANICIADI], [SİFRE], [TELEFON]) VALUES (1, N'üye1', N'üye1', N'üye1@gmail.com', N'üye123', N'3', N'0555055500')
INSERT [dbo].[Uyeler] ([UyeID], [AD], [SOYAD], [MAİL], [KULLANICIADI], [SİFRE], [TELEFON]) VALUES (3, N'üye2', N'üye2', N'üye2@gmail.com', N'üye231', N'1', N'055505200')
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yazar] ON 

INSERT [dbo].[Yazar] ([YazarID], [AD]) VALUES (1, N'George Orwell')
INSERT [dbo].[Yazar] ([YazarID], [AD]) VALUES (2, N'José Mauro de Vasconcelos')
INSERT [dbo].[Yazar] ([YazarID], [AD]) VALUES (3, N'Fyodor Dostoyevski')
SET IDENTITY_INSERT [dbo].[Yazar] OFF
GO
ALTER TABLE [dbo].[Hareket]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Hareket_dbo.Kitap_KitapID] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitap] ([KitapID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hareket] CHECK CONSTRAINT [FK_dbo.Hareket_dbo.Kitap_KitapID]
GO
ALTER TABLE [dbo].[Hareket]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Hareket_dbo.Uyeler_UyeID] FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
ALTER TABLE [dbo].[Hareket] CHECK CONSTRAINT [FK_dbo.Hareket_dbo.Uyeler_UyeID]
GO
ALTER TABLE [dbo].[Kitap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kitap_dbo.Kategori_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategori] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitap] CHECK CONSTRAINT [FK_dbo.Kitap_dbo.Kategori_KategoriID]
GO
ALTER TABLE [dbo].[Kitap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kitap_dbo.Yazar_YazarID] FOREIGN KEY([YazarID])
REFERENCES [dbo].[Yazar] ([YazarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitap] CHECK CONSTRAINT [FK_dbo.Kitap_dbo.Yazar_YazarID]
GO
